.main {
  #video-logo {
    background: #8570f6;
    min-height: 150vh;
    position: relative;
    overflow: hidden;

    @media only screen and (min-width: $md-min-width) {
      min-height: 100vh;
    }

    video {
      display: block;
      position: absolute;
      width: 350vw;
      max-width: 350vw;
      top: -15vw;
      left: -125vw;
      right: 0;
      bottom: 0;

      @media only screen and (min-width: $md-min-width) {
        width: auto;
        max-width: none;
        height: calc( 130vh - 10vw - 32px );
        margin-top: -2vh;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
      }
    }
    .border {
      @media only screen and (min-width: $md-min-width) {
        position: absolute;
        top: 5vw;
        bottom: auto;
        right: 5vw;
        left: 5vw;
        overflow: hidden;
        background: url("/assets/media/guide-to-masculinity-bg.png");
        background-size: auto 100%;
        background-repeat: repeat-x;
        z-index: 9999;
        height: 16px;

        &.left, &.right {
          left: 5vw;
          top: calc( 5vw + 16px );
          bottom: calc( 5vw + 22px );
          right: auto;
          height: auto;
          width: 16px;
          background: url("/assets/media/guide-to-masculinity-bg-vertical.png");
          background-size: 100% auto;
          background-repeat:repeat;

          &.right {
            right: 5vw;
            left: auto;
          }
        }

        &.bottom {
          top: auto;
          bottom: 5vw;
        }
      }
    }
  }

  #newsletter-signup {
    margin: 20vw 10vw;
    text-align: center;

    @media only screen and (min-width: $md-min-width) {
      display: flex;
      align-items: center;
      margin: 10vw;
    }

    h1 {
      display: block;
      width: 100%;
      margin: 0 auto 5vw;
      font-size: 12vw;

      @media only screen and (min-width: $md-min-width) {
        font-size: 5vw;
        margin: 0;
      }
    }

    #mc_embed_signup {

      #mc_embed_signup_scroll {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
      }

      label {
        text-indent: -999%;
        height: 0;
        display: block;
      }

      input {
        border: none;
        border-radius: 0;
        padding: 1vw 4vw 1vw;
        height: 10vw;
        outline: none;

        @media only screen and (min-width: $md-min-width) {
          padding: .5vw 2vw .75vw;
          height: 4vw;
        }

        &[type=submit] {
          background: #8570f6;
          color: #fff;
          text-transform: uppercase;
          font-weight: bold;
          font-size: 4vw;
          display: block;
          line-height: 4vw;
          padding: 0 2vw 0;

          @media only screen and (min-width: $md-min-width) {
            padding: 0 4vw 0;
            font-size: 1vw;
          }
        }
      }
    }
    .mc-field-group {
      display: inline;
    }
  }

  #recommended-reading {
    background: #fff;
    color: #1d1d1c;
    padding: 20vw 10vw;
    min-height: 10vw;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    @media only screen and (min-width: $md-min-width) {
      padding: 10vw;
    }

    .col {
      &.left {
        width: 0;
        display: none;

        @media only screen and (min-width: $md-min-width) {
          width: 25%;
          display: block;
        }
      }
      &.right {
        width: 100%;

        @media only screen and (min-width: $md-min-width) {
          width: 65%;
        }
      }
    }

    h1 {
      text-transform: uppercase;
      font-size: 4vw;
      margin-top: 0;

      @media only screen and (min-width: $md-min-width) {
        font-size: 1.2vw;
      }
    }

    ul {
      list-style: none;
      padding: 0;
      margin: 0;

      li {
        font-size: 5vw;
        font-weight: 200;
        margin: 10vw 0 0;

        @media only screen and (min-width: $md-min-width) {
          font-size: 2vw;
          margin: 4vw 0 0;
        }
      }

      a {
        color: #8570f6;
        border-bottom: 1px solid transparent;
        transition: all 250ms ease-in;

        &:hover {
          color: #000;
          border-bottom: 1px solid #8570f6;
        }
      }
    }
  }
}
